@import "styles/spectate";

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story
@import 'styles/news-ellipsis';

body {
  // Arc's overflow hidden on <body> messes up position sticky
  overflow-x: visible !important;
}

.deck {
  a {
    color: #121212;
  }
}

.titleslide {
  height: 100vh;
  width: 100%;
  background: center/cover no-repeat url("../illos/v2.png");
}

.intro {
  font-family: $georgia;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 19px;
  line-height: 1.63;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  p {
    color: white;
    margin: 40px 0;
  }
}

.section {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  .illo,
  .text {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .illo {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .text {
    font-size: 27px;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    font-family: $georgia;
    .quote {
      margin-left: 15%;
      margin-right: 15%;
      flex-direction: column;
    }
    .author {
      text-align:right;
    }
  }


  #quote1 {
    background-image: url("../illos/ashleyjiao.jpg");
  }
  #quote2 {
    background-image: url("../illos/natalietak.jpg");
  }
  #quote3 {
    background-image: url("../illos/tinawang.jpg");
  }
  #quote4 {
    background-image: url("../illos/angelawei.jpg");
  }
  #quote5 {
    background-image: url("../illos/helenyang.png");
  }

  #quote6 {
    background-image: url("../illos/roberthunter.png");
  }

  #quote7 {
    background-image: url("../illos/elliesoh.jpeg");
  }
  #quote8 {
    background-image: url("../illos/liznichols.jpeg");
  }
  #quote9 {
    background-image: url("../illos/BrendaHuang.png");
  }

  #quote10 {
    background-image: url("../illos/aaronjackson.png");
  }

  #quote11 {
    background-image: url("../illos/lizaevseeva.jpg");
  }
}

.section.odd-section {
  flex-direction: row;
  .text {
    background: #bbcad7;
  }
  .quote {
    color: black;
  }
}

.section.even-section {
  flex-direction: row-reverse;
  .text {
    background: #333;
  }
  .quote {
    color: white;
  }
}

.c019 {
  left: 0;
  width: 100%;
  display: flex;
  position: absolute;
  padding-top: 13px;
  padding-bottom: 9px;
  justify-content: center;
}
.c0110 {
  height: 17px;
}

@media (max-width: 1024px) {
  .titleslide {
    background: center/cover no-repeat url("../illos/v2mobile.png");
  }
}

@media (max-width: 900px) {
  .titleslide {
    height: 75vh;
  }
  header {
    top: 60%;
    width: 60%;
  }
  .section {
    .text {
      font-size: 20px;
    }
  }
}

@media (max-width: 500px) {
  .titleslide {
    height: 50vh;
  }
  header {
    top: 50%;
    width: 85%;
    right:0%;
    p {
      font-size: 12px;
    }
    .inline-credits span {
      font-size: 12px;
    }
    .deck {
      font-size: 12px;
      float: right;
    }
  }
  .intro {
    width: 80%;
    padding: 10 0 10 0;
    p {
      font-size: 18px;
    }
  }
  .section {
    flex-direction: column !important;
    .illo,
    .text {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
    }
    .illo {
      height: 32.5vh;
      height: 550px !important;
      order: 1;
    }

    .text {
      font-size: 18px;
      order: 2;
      padding: 6px 0;
    }

    .quote {
      padding: 0 20px;
      margin: 25px 0 !important;

      &.author {
        margin-top: 0 !important;
      }
    }
  }
}
